.articlelist-item{
    padding: 8px 12px 0 16px;
    position: relative;
    overflow: hidden;
}
.articlelist-item .title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
}
.articlelist-item .tag{
    margin-right: 16px;
    position: relative;
}
.articlelist-item .tag::before{
    content: "";
    width: 1px;
    height: 16px;
    left:100%;
    margin: -8px 0 0 8px;
    top:50%;
    position: absolute;
    background-color: #e5e6eb;
}
.articlelist-item .introduce{
    color: #4e5969;
    margin: 8px 0 8px 0;
}
.articlelist-item .image{
    position: absolute;
    width: 199px;
    height: 83px;
    bottom: 8px;
}