.author-contain{
    border-radius: 1rem;
    background-color: rgba(235,228,228,.8);
    position: relative;
    margin-bottom: 1rem;
}
.author-avatar{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}
.author-name{
    text-align: center;
    font-size: 1.4rem;
}
.author-inf{
    text-align: center;
    font-size: 1rem;
}
.author-icon{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
.author-divider{
    font-size: 1rem;
    color: black;
}