.author-contain{
    height: 18rem;
    position: relative;
}
.author-avatar{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}
.author-name{
    text-align: center;
    font-size: 1.4rem;
}
.author-inf{
    text-align: center;
    font-size: 1rem;
}
.author-icon{
    display: flex;
    justify-content: center;
}
.author-divider{
    font-size: 1rem;
}
