.classification-contain{
    background-color: rgba(235,228,228,.8);
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 16px;
    font-size: 18px;
}
.classification-tags{
    font-size: 16px;
    padding: 0px 6px;
}