.deticles-header{
    padding: 16px;
    text-align: center;
}
.deticles-header .title{
    font-size:24px;
}
.deticles-header .inf{
    font-size: 18px;
    margin: 10px 0px;
}
.show-html h1{
    font-size:30px;
}

.show-html h2{
    font-size:28px;
    border-bottom: 1px solid #cbcbcb;
}
.show-html h3{
    font-size:24px;
}

.show-html pre{
    display: block;
    /* background-color:#f3f3f3; */
    font-weight: 300;
    font-family: Menlo, monospace;
    padding: 5px;
    border-radius: 5px;
}
.show-html pre>code{
    width: 100%;
    border:0px !important;
    background-color: #283646 !important;
    color:#FFF;
}
.show-html code {
    display: inline-block ;
    background-color:#f3f3f3;
    border:1px solid #fdb9cc;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 3px; 
    color:#4f4f4f;
}
.show-html blockquote{
    border-left:4px solid #cbcbcb ;
    padding: 10px 10px 10px 30px; 
    background-color: #f8f8f8;
}
.show-nav-title{
    margin-left: 32px;
}